:root {
    --main-bg: #000000; /* Чисто черный фон как на скринах */
    --main-text: #ffffff;
    --sub-text: #707070;
    --accent-blue: #007aff; /* Синий Apple/Telegram */
    --error-red: #ff0000; /* Ярко-красный */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg);
    color: var(--main-text);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
    transition: filter 0.5s ease;
}

.grayscale {
    filter: grayscale(1) brightness(0.8);
}

.app-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Контейнер прогресс-бара */
.bar-container {
    width: 250px;
    height: 4px;
    background-color: #333333;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;
}

/* Сама линия */
.bar-fill {
    width: 0%; /* Начало с нуля */
    height: 100%;
    background-color: var(--accent-blue);
    /* Плавное движение в течение 3 секунд */
    transition: width 3s linear, background-color 0.3s ease;
}

/* Состояние ошибки */
.bar-fill.error-state {
    background-color: var(--error-red);
}

.sub-text {
    font-size: 14px;
    color: var(--sub-text);
    max-width: 280px;
    line-height: 1.5;
    text-align: center;
}